*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.video-featuer{
    width: 99%;
    margin: 4% auto;
    border: 1px solid #f5f5f5;
}
.video-featuer img{
    width: 100%;
}

.featuer-text{
    width: 80%;
    text-align: center;
    margin: 30px auto;
}
.featuer-text h4{
    color: #252525;
    font-size: 2.5rem;
}
.featuer-text p{
    color: #616161;
    font-size: 16px;
}
.desc-body-continer{
    width: 99% !important;
    margin: 10px auto !important;
    border: 1px solid #f1f1f1;
    box-sizing: border-box !important;
    padding: 5px;
}
.desc-body{
    text-align: center;
    padding: 40px !important;
    background: rgb(255, 255, 255) !important;
}
.desc-body p{
    text-align: left;
}
.desc-body h4{
    text-align: left;
    font-size: 1.5rem;
}
.desc-body button{
    width: 270px;
    height: 40px;
    border: none;
    background:  #333399;
    color: #fff;
    border-radius: 10px;
    font-size: 16px;
}
.desc-body button:hover{
    transform: scale(1.03);
    text-decoration: underline;
    cursor: pointer;
}
.img-body1 {
    width: 50%;
    height: 265px;
    background-image: url('../../images/header3.jpeg');
    background-size: 100%;
}
.img-body2{
    width: 50%;
    height: 265px;
    background-image: url('../../images/header.jpg');
    background-size: 100%;
}
.img-body3 {
    width: 50%;
    height: 265px;
    background-image: url('../../images/featur4.png');
    background-size: 100%;
}
