*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.NavBar-continer{
    padding-top: 20px;
}
.ant-menu{
    width: 100% !important;
    display: flex;
    justify-content: center;
    box-shadow: none;
    box-sizing: border-box;
    background: none !important;
    color: #fff !important;
}
.ant-menu-item{
    font-size: 16px !important;
}
.ant-menu-item:hover{
    color: #252525 !important;
    transform: scale(1.05);
    text-decoration: underline;
}
.logo-continer{
    margin-left: 30px;

}
.logo-img{
    width: 100px;
    height: 30px;
    margin-top: 3px;
}



