.App{
    width: 100%;
    margin: 0px auto;
}
.main-wrapper{
    width: 80%;
    margin: 20px auto;
}
.login-form-button{
    width: 200px;
    background: #333399;
}
.login-form-button:hover{
    transform: scale(1.03);
    opacity: 1 !important;
    background: #333399;
}